@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure no unexpected whitespace at the top of the page */
html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}

.app {
	margin: 0;
	padding: 0;
}